@import url("https://fonts.cdnfonts.com/css/fixedsys-excelsior-301");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #F3E5F5;
  --text-color: #141414;
  transition:
    background-color 0.3s,
    color 0.3s;
}

:root.dark {
  --bg-color: #0a0a0a;
  --text-color: #f4f3ee;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

html {
  @apply transition-colors duration-700;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.fixedsys {
  font-family: "Fixedsys Excelsior 3.01", sans-serif;
}

.box-shadow-pop {
  box-shadow:
    0 0 0 4px #750544,
    0 0 0 8px #f1faee;
  border-radius: 0.5rem;
}

.input {
  @apply rounded-md bg-[#bda5ad] px-2 py-1 text-black placeholder:text-black focus:border-y2kpink focus:ring-y2kpink;
}

/* .typewriter {
  @apply relative transition before:absolute before:inset-0 before:animate-typewriter before:bg-[#f4f3ee] after:absolute after:inset-0 after:h-[1.5em] after:w-[0.125em] after:animate-caret after:bg-black dark:before:bg-[#0a0a0a];
} */

.butterfly {
  animation: grow-and-shrink 2000ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.theme-toggle-button {
  @apply fixed bottom-4 right-4 z-40 rounded-full p-2 shadow-lg;
}

@keyframes grow-and-shrink {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

