@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 10% 8%;
    --foreground: 210 10% 95%;

    --card: 222 20% 18%;
    --card-foreground: 210 40% 98%;

    --popover: 222 20% 18%;
    --popover-foreground: 210 40% 98%;

    --primary:  262, 46%, 50%;
    --primary-foreground: 0 0% 100%;

    --secondary: 210 10% 15%; 
    --secondary-foreground: 210 10% 95%;

    --muted: 210 10% 25%; 
    --muted-foreground: 210 10% 60%; 

    --accent: 1262, 46%, 50%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 217 19% 27%;
    --input: 217 19% 27%;
    --ring: 262, 46%, 50%;

    --radius: 0.5rem;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  html {
    scroll-behavior: smooth;
  }
}
